* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

#darkmode__label {
  font-size: 18px;
  color: #1e1919;
  font-family: 'helvetica', sans-serif;
}
.container {
  width: 25%;
  margin: 0 auto;
}

.container h2 {
  font-size: 50px;
  color: #f50557;
  text-align: center;
  margin-top: 10%;
  font-family: 'Lobster', sans-serif;
}
.togBtn {
  margin: 20px;
  padding: 0;
}
.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}
.btn:hover {
  background: #666;
}